.product-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 250px;
    display: inline-block;
}
body{
background-image: url('assets/img.png');
background-size: cover;
background-repeat: no-repeat;
}