/* Style général des cartes */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}


.btn {
    margin-right: 10px;
}
.card {

    margin: 0;

    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


/* Styles pour la pagination */
.pagination {
    text-align: center;
    margin-top: 20px;
}

.prev-btn,
.next-btn {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 5px;
}

.prev-btn:hover,
.next-btn:hover {
    background-color: #0056b3;
}
/* Style de l'image dans la carte */
.card img {
    max-width: 100%;
    height: auto;
}

/* Style du titre de la carte */
.card-title {
    font-size: 18px;
    font-weight: bold;
}

/* Style du texte de la carte */
.card-text {
    font-size: 14px;
    color: #333;
}

/* Style du prix de la carte */
.card-price {
    font-size: 16px;
    font-weight: bold;
    color: #e74c3c; /* Couleur du prix */
}

/* Style du bouton "Acheter" */
.btn-primary {
    background-color: #3498db; /* Couleur du bouton */
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 6px 12px;
    margin: 10px 0;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #2980b9; /* Couleur du bouton au survol */
}

.site-title {
    font-size: 36px; /* Taille de la police */
    font-weight: bold; /* Gras */
    color: #333; /* Couleur du texte */
    text-align: center; /* Centrer le texte horizontalement */
    margin: 20px 0; /* Marge supérieure et inférieure */
}