<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>
<body>
<div th:each="product:${productList}">

<div class="card">
    <div class="card-body">
        <h5 class="card-title" th:text="${product.name}"></h5>
        <p class="card-text" th:text="${product.description}"></p>
        <p class="card-price" th:text="${product.price} + ' €'"></p>
        <a href="#" class="btn btn-primary">Acheter</a>

            <a th:href="@{products/showFormForUpdate/{id}(id=${product.id})}"><button class="btn btn-info">Modifier</button></a>
            <a th:href="@{products/{id}(id=${product.id})}"><button class="btn btn-danger">Supprimer</button></a>

            </div>
    </div>
</div>

</body>
</html>